.pageOneContainer{
    min-height: 100vh;
    min-width: 100vw;
    background-color: #F2F2F2;
    background-image: url('../../../img/vip/Img1.webp');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    background-position: center;
    background-position-y: 5vh;
    background-size: 120vw;

    section{

        background-color: #FFF;
        min-width: 81vw;
        max-width: 81vw;
        padding-left: 2vw;
        padding-right: 2vw;
        min-height: 40vh;
        margin-bottom: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        .title{
            text-align: center;
            color: #CCA549;
            font-size: 30px;
            font-family: Montserrat;
            margin-top: 2vh;
            margin-bottom: 0px;
        }
        .subtitle{
            text-align: center;
            display: none;
        }
        text{
            min-width: 70vw;
            max-width: 70vw;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            text-align: center;
            font-family: Montserrat;
            font-size: 10px;
            line-height: 15px;
        }
    }
}






@media (min-width:800px) and (min-width:600px){

    .pageOneContainer{
        padding-top: 10vh;
        min-height: 80vh;
        min-width: 100vw;
        background-color: #F2F2F2;
        background-image: url('../../../img/vip/Img1.webp');
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 10vw;
        background-size: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        section{
            margin-bottom: 5vh;
            margin-left: 35vw;
            background-color: #FFF;
            min-width: 40vw;
            max-width: 40vw;
            padding-left: 2vw;
            padding-right: 2vw;
            min-height: 45vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            .title{
                text-align: left;
                color: #C68738;
                font-size: 35px;
                margin-top: 2vh;
                margin-bottom: 0vh;
                min-width: 35vw;
            }
            .subtitle{
                display: none;
                text-align: left;                    
            }
            text{
                margin-top: 0vh;
                min-width: 32vw;
                padding-left: 3vw;
                max-width: 30vw;
                font-size: 11px;
                margin-bottom: 5vh;
                text-align: left;    
            }
        }
    }
    
    
}