.containerGalleryPageOne{
    display: flex;
    min-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F2F2F2;

    .title{
        border: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 85vw;                
        min-height: 0vh;
        margin-top: 5vh;
        label{
            border: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 85vw;    
            min-height: 15vh;            
            font-size: 35px;
            color: #C68738;
        }
    }
    .galleryContent{
        margin-top: 5px;
        min-width: 85vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .imageOne{
            min-width: 42.5vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img1.png');
            background-size: cover;
        }
        .imageTwo{
            margin-left: 5px;
            min-width: 42.5vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img2.png');
            background-size: cover;
        }
        .imageThreeDesktop{
            display: none;
        }
        .imageThree{
            margin-top: 5px;
            min-width: 85vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img3.png');
            background-size: cover;
        }
        .imageFour{
            margin-top: 5px;
            min-width: 85vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img4.png');
            background-size: cover;
        }
    }
    .galleryContentDos{
       
        margin-top: 5px;
        min-width: 85vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: none;
        .imageOne{
            min-width: 42.5vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img5.png');
            background-size: cover;
        }
        .imageTwo{
            margin-left: 5px;
            min-width: 42.5vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img6.png');
            background-size: cover;
        }
        .imageThree{
            margin-top: 5px;
            min-width: 85vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img7.png');
            background-size: cover;
        }
        .imageFour{
            min-width: 85vw;
            min-width: 42.5vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img8.png');
            background-size: cover;
        }
        .imageFive{
            margin-left: 5px;
            min-width: 42.5vw;
            min-height: 60vw;
            background-image: url('../../../img/gallery/img9.png');
            background-size: cover;
        }
    }
    .More{
        min-width: 85vw;
        max-width: 85vw;
        min-height: 15vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .buttonMore{
            min-width:85vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            label{
                min-width:85vw;
                text-align: center;
                color: #CCA549;
                font-family: Montserrat;
                font-weight: 600;
            }
            img{
                margin-right: 15vw;
                margin-left: 15vw;
                min-width: 5vw;
    
            }
            
        }
      
    }


}



@media (min-width:800px) and (min-width:600px){

    .containerGalleryPageOne{
        display: flex;
        min-width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
    
    
        .title{
            border: 0px;
            padding: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 85vw;                
            min-height: 0vh;
            margin-top: 10vh;
            label{
                border: 0px;
                padding: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 85vw;    
                min-height: 15vh;            
                font-size: 35px;
                color: #C68738;
            }
        }
        .galleryContent{
            margin-top: 5px;
            min-width: 85vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .imageOne{
                min-width: 28vw;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img1.png');
                background-size: cover;
            }
            .imageTwo{
                margin-left: 5px;
                min-width: 28vw;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img2.png');
                background-size: cover;
            }
            .imageThreeDesktop{
                display: flex;
                margin-left: 5px;
                min-width: 28vw;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img3Desktop.png');
                background-size: cover;
            }
            .imageThree{
                margin-top: 5px;
                min-width: 42.5vw;
                min-height: 30vw;
                background-image: url('../../../img/gallery/img3.png');
                background-size: cover;
            }
            .imageFour{
                margin-top: 5px;
                margin-left: 5px;
                min-width: 42.5vw;
                min-height: 30vw;
                background-image: url('../../../img/gallery/img4.png');
                background-position: center;
                background-size: cover;
            }
        }
        .galleryContentDos{
           
            margin-top: 5px;
            min-width: 85vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            display: none;
            .imageOne{
                order: 5;
                min-width: 42.5vw;
                margin-left: 5px;
                margin-top: 5px;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img9Desktop.png');
                background-size: cover;
            }
            .imageTwo{
                order: -1;
                margin-top: 0px;
                min-width: 28vw;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img6.png');
                background-size: cover;
            }
            .imageThree{
                order: 4;
                min-width: 42.5vw;
                margin-left: 0px;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img7.png');
                background-size: cover;
                background-position: center;
            }
            .imageFour{
                margin-left: 5px;
                order: 1;
                min-width: 28vw;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img8.png');
                background-size: cover;
            }
            .imageFive{
                order: 3;
                
                margin-left: 5px;
                min-width: 28vw;
                min-height: 40vw;
                background-image: url('../../../img/gallery/img9.png');
                background-size: cover;
            }
        }
        .More{
            min-width: 85vw;
            max-width: 85vw;
            min-height: 15vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .buttonMore{
                min-width:85vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                label{
                    min-width:85vw;
                    text-align: center;
                    font-weight: 400;
                    font-size: 15px;
                    color: #C68738;
                }
                img{
                    margin-right: 15vw;
                    margin-left: 15vw;
                    min-width: 2vw;        
                }
                
            }
          
        }
    
    
    }
    
}