.pageTwoContainer{
    min-height: 90vh;
    min-width: 100vw;
    background-color: #F2F2F2;
    background-image: url('../../../img/vip/Img2.webp');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: 100vw;

    section{
        padding-top: 2vh;
        padding-bottom: 2vh;
        background-color: #FFF;
        min-width: 81vw;
        max-width: 81vw;
        padding-left: 2vw;
        padding-right: 2vw;
        min-height: 45vh;
        margin-bottom: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 13px;
        .title{
            text-align: center;
            color: #C68738;
            font-size: 20px;
            margin-top: 2vh;
        }
        .subtitle{
            text-align: center

        }
        text{
            min-width: 70vw;
            max-width: 70vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 12px;
            font-family: Montserrat;
            line-height: 15px;

        }
    }
}







@media (min-width:320px) and (min-height:480px){

}
@media (min-width:320px) and (min-height:560px){

}
@media (min-width:360px) and (min-height:640px){
    .pageTwoContainer{
        min-height: 90vh;
        min-width: 100vw;
        background-color: #F2F2F2;
        background-image: url('../../../img/vip/Img2.webp');
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-size: 100vw;
    
        section{
    
            background-color: #FFF;
            min-width: 81vw;
            max-width: 81vw;
            padding-left: 2vw;
            padding-right: 2vw;
            min-height: 45vh;
            margin-bottom: 10vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 13px;
            .title{
                text-align: center;
                color: #C68738;
                font-size: 20px;
                margin-top: 2vh;
                display: none;
            }
            .subtitle{
                text-align: center;
                display: none;
            }
            text{
                min-width: 70vw;
                max-width: 70vw;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 13px;
                font-family: Montserrat;
                line-height: 18px;
    
            }
        }
    }
    
}
@media (min-width:375px) and (min-height:667px){

}
@media (min-width:414px) and (min-height:736px){

}
@media (min-width:375px) and (min-height:812px){
    .pageTwoContainer{
        min-height: 70vh;
        min-width: 100vw;
        background-color: #F2F2F2;
        background-image: url('../../../img/vip/Img2.webp');
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-size: 100vw;
    
        section{
    
            background-color: #FFF;
            min-width: 81vw;
            max-width: 81vw;
            padding-left: 2vw;
            padding-right: 2vw;
            min-height: 35vh;
            margin-bottom: 10vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 13px;
            .title{
                text-align: center;
                color: #C68738;
                font-size: 20px;
                margin-top: 2vh;
            }
            .subtitle{
                text-align: center
    
            }
            text{
                min-width: 70vw;
                max-width: 70vw;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 13px;
                font-family: Montserrat;
                line-height: 18px;
    
            }
        }
    }
    
}



@media (min-width:800px) and (min-width:600px){

    .pageTwoContainer{
        padding-top: 0vh;
        min-height: 70vh;
        min-width: 100vw;
        background-color: #F2F2F2;
        background-image: url('../../../img/vip/Img2.webp');
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 40vw;
        background-size: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        section{
            margin-bottom: -25vh;
            margin-right: 40vw;
            background-color: #FFF;
            min-width: 35vw;
            max-width: 35vw;
            padding-left: 2vw;
            padding-right: 2vw;
            min-height: 40vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            .title{
                text-align: left;
                color: #C68738;
                font-size: 35px;
                margin-top: 2vh;
                margin-bottom: 0vh;
                min-width: 35vw;
                display: none;
            }
            .subtitle{
                display: none;
            }
            text{
                margin-top: 0vh;
                min-width: 32vw;
                padding-left: 3vw;
                max-width: 30vw;
                font-size: 12px;
                margin-bottom: 0vh;
                text-align: left;    
            }
        }
    }
    
    
}